<div id="map-container">
    <div id="map"></div>
    <div id="legend">
        <div class="legend-item">
            <span class="legend-color" style="background-color: #009900;"></span>
            <span class="legend-text">EMERGING</span>
        </div>
        <div class="legend-item">
            <span class="legend-color" style="background-color: #B32D00;"></span>
            <span class="legend-text">DECREASING</span>
        </div>
        <div class="legend-item">
            <span class="legend-color" style="background-color: #0039e6;"></span>
            <span class="legend-text">LATENT</span>
        </div>
        <div class="legend-item">
            <span class="legend-color" style="background-color: #ffff00;"></span>
            <span class="legend-text">LOST</span>
        </div>
        <div class="legend-item">
            <span class="legend-color" style="background-color: #3d3d29;"></span>
            <span class="legend-text">JUMPING</span>
        </div>
        <div class="legend-item">
            <span class="legend-color" style="background-color: #f442e8;"></span>
            <span class="legend-text">DEFAULT</span>
        </div>
    </div>
</div>